
body{
    background-color: #221F1F;
}

.no-datetime-placeholder input::-webkit-datetime-edit{ color: transparent; }


#main{
    background-color: #F5F5F1;
}

#color_flama, .page-footer,.btn{
    background-color: #E50914;
}

#filtro{
    background-color: #9933ff;
}

.carousel-item{
    text-align: center;
    
}

#filter{
    text-align: center;
}

h1{
    text-align: center;
    float: inherit;
}
.titulo_navbar{
    font-size: 36px;
    float: inherit;
    text-align: center;
}

	
::placeholder {
    color: black;
}

.page-footer a{
    color: black;
}

.carousel .carousel-item{
    width: 500px;
    height: 300px;  
}

.carousel{
    height: 500px;
}

#main2 {
    background-color: transparent;
}

#div_nosotros {
    background-color: white;
    border-top-width: 10px;
    border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
}

.starrr { display: inline-block; }
 
.starrr i {
font-size: 16px;
padding: 0 1px;
cursor: pointer;
color: #ffd119;
}


.error_class{
    color:red;
}

a {
    color: #0d007e;
}

#label_filtro {
    color: black;
}
