body{background-color: #221F1F;}

a {color: #0d007e;}

p,legend {font-family:Questrial;}

span, label {
    color: black;
    font-family:Questrial;
}

h1{
    font-size: 36px;
    text-align: center;
    font-family:Questrial;
}

h2{
    font-size: 3vw;
    font-family:Questrial;
}

h3{
    font-size: 2vw;
    font-family:Questrial;
}



::placeholder {
    color: black;
    font-family:Questrial;
}

.navlink:visited{
    color:#FFFF7A;
}

.input-field>label {
	color: black;
	font-family:Questrial;
}

.clasificacion{
  color: #797200;
  font-family:Questrial;
}

.error_class {
    color: red;
}
.no-datetime-placeholder input::-webkit-datetime-edit{ color: transparent; }

.carousel .carousel-item{
    width: 500px;
    height: 500px;  
}

.carousel-item img{
    height:75%;
    width:75%;
}

.car_it{
    height:45vh;
    width:40vw;
}

.carousel-item{text-align: center;}

.label_u{
    font-family:Questrial;
    color: black;
    font-size: 175%;
}

#title_event{
    font-size: 4vw;
    font-family:Questrial;
}

#resultadoBusqueda{height: 350px;}

#logo{
    width:65px;
    height:65px;
}

#main{
    background-color: #F5F5F1;
    border-radius: 2vw;
}

#color_flama, .btn{
    background-color: #E50914;
    font-family:Questrial;
}

#titulo{
    font-family: 'Bangers', cursive; 
    font-size:12vw;
}